#bloco1{ 
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #a4ea4f;
}
body{margin: 0;}

#bloco2{
    width: 900px;
    padding: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
}