html{
    scroll-padding-top: 180px;
}

#bloco1 {

    padding: 30px;
    text-align: center;
    background-color: #8dc549;
    position: fixed;
    height: 100px;
    width: 100%;
    margin-top: -200px;

}

body {
    margin: 0;
}

.menu {
    list-style: none;
    display: block;
    margin: 16px auto;
    width: 710px;
}

.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 20px 55px;

}

.menu li a:hover {
    color: rgb(5, 71, 5)
}

.menu li {
    float: left;

}

#bloco2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
    z-index: 30;
    font-size: 19px;
    line-height: 29px;
    margin-top: 200px;
}

.video {
    float: left;
    margin-right: 50px;
}

.imagem-esquerda {
    float: right;
    margin-top: 30px;
    margin-left: 30px;
}

.imagem1 {
    margin-left: 50px;
}